.login-container {
  display: flex;
  justify-content: center; 
  align-items: center;    
  height: 100vh;    
}

.login-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  min-width: 400px;
  text-align: center;
  width: 100%;
  mat-form-field {
    width: 100%;
  }
}